*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  
}
a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}


/*login*/
.ingreso{
  background-image: url(../images/ecuador-2380690\ 2.jpg);
  position: relative;
  height: 75%;
}
.logo2{
  background-image: url(../images/logotipo.png);
  background-color: transparent;
  position: relative;
  width: 18%;
  padding: 35px;
  right: 23.5%;
  top: 150px;
}
.text1{
  background-color: rgba(0,0,0,.7);
  position: relative;
  border-radius: 20px;
  top: 150px;
  width: 30%;
  padding: 20px;
  margin: 50px;
  left: 7%;
  opacity: 90%;
}
.text1 p{
  font-size: 20px;
  opacity: 70%;
  color: #456cfc;
}
.t1{
  color: rgb(238, 250, 68);
}
.t2{
  color:rgb(255, 43, 43);
}
.login{
  left: 23%;
  height: 60%;
  width: 25%;
  /*background-color: rgb(190, 190, 190);*/
 background-color: rgba(0,0,0,.7);;
  border-radius: 30px; 
  position: relative;
  bottom: 140px;
  padding: 22px 10px 10px 10px;
  opacity: 80%;
}

.usu{
  border-radius: 10px 20px;
  position: relative;
  left: 24%;
}
.cla{
  border-radius: 10px 20px;
  position: relative;
  left: 24%;
}
.login p{
  text-align: center;
  border-radius: 20px;
  margin: 2%;
  width: 50%;
  position: relative;
  left: 24%;
}

.ingresoS p{
  color: #fff;
}
.ingresoS input{
  border-radius: 20px;
  border: 1px solid #39c;
  text-align: center;
}
.ingresoS input:hover{
  background-color:#9ae6ff;
    border-radius: 20px;
    padding: 4px;
    border: 1px solid #39c;
    color: rgb(34, 32, 32);
}
.user{
  background-image: url(../images/user1.png);
  position: relative;
  width: 21%;
  bottom: 10px;
  padding: 40.3px ; 
}

.botonI{
  background-color: #008CBA;
  position: relative;
  left: 40%;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
}

/*Repositorio2*/
.welco{
  background-image: url(../images/mountains-190055.jpg);
  position: relative;
  height: 20%;
  font-family: "Noto Sans JP", sans-serif;
}
.logoR2{
  background-color: #c8f2ff;

}
.log2{
  background-image: url(../images/usuario2.png);
  height: 8%;
  width: 3.8%;
  position: relative;
  left: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 70px;
  opacity: 80%;
  top: 10px;
}
.welco {
 color: #fff;
 text-align: center;
}
.welco a{
  text-decoration: none;
  color: #fff;
  padding: 0px 0px 0px 20px;
}
.welco a:hover{
background-color: #ffffff;
color: #000;
border-radius: 10px;
}

.Bienvenido{
  position: relative;
  width: 12%;
  bottom: 19px;
  left: 38.5%;
  text-align: left;
  font-size: 15px;
}
.ingreso{
  background-color: #fff;
}
.ingreso h2{
  position: relative;
  background-color: #1a1818c9;
  border-radius: 10px;
  text-align: center;
  opacity: 60%;
  width: 25%;
  left: 23%;
  color: #fff;
  bottom: 150px;
}
.navR{
  background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5));
  position:relative;
  padding: 10px;
  border-radius: 50px;
  width: 80%;
}
.Buser{
  color:  rgb(43, 36, 36);
  font-size: medium;
  text-align: center;
}
.sirnce{
  color: rgb(34, 32, 32);
}

.contenidoR{
  position: relative;
  width: 14%;
  padding: 10px;
  text-align: center;
}
.contenidoR.nP_N{
background-color: #2ddf71;
}
.menuR p{
  background-color: rgba(17, 15, 15, 0.5);
  border-radius: 10px;
  color: #fff;
  width: 30%;
  font-family: "Noto Sans JP", sans-serif;
}
.nP_N{
  background-color: rgb(238, 255, 0.5);
  padding: 15px;
  border-radius: 70px 0px;
}
.nP_C{
  background-color: rgb(90, 87, 231);
  padding: 15px;
  border-radius: 70px 0px;
}
.n_E{
  background-color: rgb(248, 42, 42);
  padding: 15px;
  border-radius: 0px 70px;
}
/*Menu despegable*/
.navD{
position: relative;
padding: 6px;
background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5));
width: 50%;
height: 40%;
text-align: center;
}
ul, ol {
  list-style:none;
}

.navD > li {
  float:left;
}
.center_D{
  position: relative;
  left: 15%;
  padding: 0px 20px 20px 0px;
}
.m_Despegable{
  background: linear-gradient(rgba(20, 20, 20, 0.849),rgba(20, 20, 20, 0.815));
  padding: 10px;
}
.m_Despegable a{
  position: relative;
 font-size: small;
}
.navD li a {
  color:#fff;
  text-decoration:none;
  display:block;
  padding: 10px;
  text-align: center;
}

.navD li a:hover {
  background-color:#fff;
}

.navD li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.navD li:hover > ul {
  display:block;
}

.navD li ul li {
  position:relative;
}

.navD li ul li ul {
  right:-140px;
  top:0px;
}
/*Ficha Natural*/
.N_NPatrimonio{
  position: relative;
  background-color: rgb(170, 255, 159);
  padding: 2%;
  opacity: 80%;
  width: 70%;
}
.N_Datos{
  position: relative;
  background-color: rgb(116, 189, 223);
  padding: 2%;
  opacity: 80%;
  width: 70%;
}
.N_Caracteristicas{
  background-color: #b5c078;
  position: relative;
  padding: 2%;
  width: 70%;
}

.N_Info{
  background-color: #e49fdb;
  position: relative;
  padding: 2%;
  width: 70%;
}
/*Ficha cultural*/
.C_NPatrimonio{
  position: relative;
  background-color: rgb(170, 255, 159);
  padding: 2%;
  opacity: 80%;
  width: 70%;
}
.C_Datos{
  position: relative;
  background-color: rgb(116, 189, 223);
  padding: 2%;
  opacity: 80%;
  width: 70%;
}
.C_Caracteristicas{
  background-color: #b5c078;
  position: relative;
  padding: 2%;
  width: 70%;
}

.C_Info{
  position: relative;
  padding: 2%;
  width: 70%;
}
.fechaR{
  position: relative;
  justify-content: center;
background-color: #0099CC;
width: 30%;
padding: 20px;

}

.Atras_FC{
  position: relative;
  width: 0; 
  right:  10%;
}

.FichasC1{
  position: relative;
  width: 0%;
  left: 20%;
  bottom: 25px;
}


.FichasC1 button{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
/*Repso*/
:root{
  --primary-font-color1: #dd1010; 
  --primary-font-color2: #007bff;
}
/*...*/
.F_C{

  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
  .line-shape{
    width: 10%;
    height: 2px;
    margin-left: calc(49% - 40px);
    background-color: var(--primary-font-color2);
    margin-top: 17px;
    margin-bottom: 25px;
  }
  /*Crear*/
  .crear {
    position: relative;
    width: 6.2%;
    align-items: center;
    left: 40%;
    padding: 10px;
    border-radius: 10px;
    font-family: "Noto Sans JP", sans-serif;
  }
  .crear button{
    background-color: #0099CC;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #39c;
    
  }
  .crear button:hover{
    background-color: transparent;
    color: rgb(95, 116, 235);
    border: 1px solid #39c;
  }
  .crear button:hover a{
    background-color: transparent;
  color: #007bff;
  }
 
  .crear a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
/*Fichas Culturales*/
.lista_FC{
  background-color: #d2ebf3;
  border-radius: 10px;
  padding: 20px;
  width: 94%;
  
}
.registrar_FC{
  font-family: "Noto Sans JP", sans-serif;
}
.tituloF_PC{
  background-color: #9de6f8;
  text-align: center;
  padding: 20px;
  border-radius: 10px 90px;
  font-family: "Noto Sans JP", sans-serif;
  width: 60%;
}
.datos_FC{

  width: 40%;
  padding: 20px;
}
.datos_FC b{
  background-color: #86e9ac;
  opacity: 80%;
  font-size:larger;
  padding: 10px;
  border-radius: 0px 70px 10px 0px;
  position: relative;
  left: -10%;
}
.datos_FC input, select{
  border-radius: 20px;
  padding: 7px;
  border: 1px solid #39c;
}
.datos_FC input,select:hover{
  background-color: #eaebec;
  color:#008CBA;
}
.guardar_PC{
  background-color: #0099CC;
  color: #fff;
  position: relative;
  left: 90%;
}
/*Atras*/
.atras_PC{
  position: relative;
  bottom: 30px;
  width: 0;
  right: 80%;
}
.atras_PC button {
  background-color: #0099CC;
  border-radius: 20px;
  padding: 7px;
  border: 1px solid #39c;
}
.atras_PC a{
  color: #fff; 
}
.atras_PC button:hover{
  background-color: transparent;
  color: #007bff;
  border: 1px solid #39c;
}
.atras_PC button:hover a{
  color: #007bff;
  text-decoration: none;
}

/*Fichas Naturales*/
.registrar_FN{
  font-family: "Noto Sans JP", sans-serif;
}
.tituloF_PN{
  background-color: #9597f3;
  text-align: center;
  padding: 20px;
  border-radius: 10px 90px;
  font-family: "Noto Sans JP", sans-serif;
  width: 60%;
}
.datos_FN{

  width: 40%;
  padding: 20px;
}
.datos_FN b{
  background-color: #93c1f5;
  opacity: 80%;
  font-size:larger;
  padding: 10px;
  border-radius: 0px 70px 10px 0px;
  position: relative;
  left: -10%;
}
.datos_FN input{
  border-radius: 20px;
  padding: 7px;
  border: 1px solid #39c;
}
.datos_FN input:hover{
  background-color: #d6d7da;
  color:#008CBA;
}
/*Encuestas*/
.titulo_E{
  background-color: #f79525;
  text-align: center;
  padding: 20px;
  border-radius: 10px 90px;
  font-family: "Noto Sans JP", sans-serif;
  width: 60%;
}
.datos_E h3{
  background-color: #2ddf71;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/*Foter 2*/
.footer2{
  background-color: rgba(0,0,0,.7);
}
.footer2 h6{
  color:#fff;
  position: relative;
  width: 25%;
  bottom: 20px;

}
.logoF2{
 background-image: url(../images/logotipo2.png);
 width: 13%;
 padding: 15px;
 position: relative;
 right: 40%;
 top: 40px;
}

.utpl{
background-image: url(../images/utpl.png);
width: 10%;
padding: 24px;
position: relative;
left:40%;
}
/*Foter 3*/
.footer3{
  background: hsl(0, 0%, 0%);
}
.footer3 h6{
  color:#fff;
  position: relative;
  width: 25%;
  bottom: 30px;

}
.logoF3{
 background-image: url(../images/logotipo2.png);
 width: 13%;
 padding: 15px;
 position: relative;
 right: 40%;
 top: 30px;
}

.utpl3{
background-image: url(../images/utpl.png);
width: 11%;
padding: 24px;
position: relative;
left:40%;

}








